body, nav {
    margin: 0%;
}

nav ul li:first-child a{
    color: white;
}
nav ul li:nth-child(3) a{
    color: yellow;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(255, 0, 252);
}

img {
    width: 170px;
    height: 150px;
}
.content p {
    font-size: 1.5em;
    text-align: center;
}
.side p {
    font-size: 1.5em;
    text-align: center;
}
h1 {
    color: blue;
    text-align: center;
}
#menu {
    background-color: black;
    color: white;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 50px;
    height: 20px;
} 

#menu a p{
    font-size: 1em;
}

#menu .tobe {
    position: absolute;
}

.tohide .tobe{
    display: none;
}

.tohide:hover .tobe{
    display: block;
} 

.tobe p {
    background-color: #333;
    color: white;
    margin: 0%;
}
.tobe p a {
    margin: 0%;
}
.tobe:first-child p{
    margin-top: 30px;
}

.box {
    width: 200px;
    height: 170px;
    margin: 1%;
    border: 1px solid black;
}

.side {
    display: flex;
    align-items: start;
    justify-content: space-around;
} 

.side h1 {
    text-align: left;
    font-size: 1.3em;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2%;
}
/* ----------------*****------*****---------------- */
/* -------------********-----********-------------- */
/* ------------**********---**********------------- */
/* -----------************-************------------ */
/* ------------***********************------------- */
/* -------------**********************------------- */
/* ---------------******************--------------- */
/* -----------------***************---------------- */
/* --------------------**********------------------ */
/* ----------------------******-------------------- */
/* ------------------------***--------------------- */
/* -------------------------*---------------------- */
#white {
    background-color: white;
}

#black {
    background-color: black;
}

#green {
    background-color: green;
}

#yellow {
    background-color: yellow;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#orange {
    background-color: orange;
}

/* ------------------------------------------------------ */

#question{
    width: 60%;
    border: none;
    border-radius: 25px;
    box-shadow: 10px 10px 10px 10px;
    padding: 10px;
    margin: 10px ;
}

#choice,.choice {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#choice{
    font-size: 1.5em;
    width: 100%;
    height: 100%;
    margin: 0px;
    border-radius: 10px;
    text-align: center;
}

.choice,.choice img {
    font-size: 1.5em;
    width: 300px;
    height: 170px;
    margin: 0px;
    border-radius: 1;
    text-align: center;
    border: 1px solid green;
}

.choice {
    margin: 2%;
}

.cchoice {
   width: 300px;
   height: 170px;
   border: none;
   border-radius: 10px;
}

.choice img {
    border: 1px solid;
    margin: 0px;
}

@media screen and (max-width:991px){
    #question {
        width: 90%;
    }

    .choice,.choice img{
        width: 115px;
        height: 100px;
    }
}

#ask {
    padding: 15px 70px;
    border: none;
    border-radius: 30px;
    background-color: orange;
    color: black;
}

.questions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buy {
    width: fit-content;
    height: fit-content;
    border: none;
}

.buy img{
    width: 50px;
    height: 70px;
    border-radius: 25%;
}

#quest {
    text-align: center;
    font-size: 3em;
    font-family: serif;
    color: brown;
}
/* ------------------------------------------------------ */

#chooser{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 50%;
}
.selected {
    width: fit-content;
    height: 100%;
    margin: 2%;
    padding: 2%;
    border-radius: 50%;
    background-image: linear-gradient(180deg, rgb(0, 132, 255), blue);
    color: white;
    text-align: center;
}
/* ############################################### */
.choice:nth-child(1){
    background-color: #00ff95;
    color: white;
}
.choice:nth-child(2){
    background-color: brown;
    color: white;
}
.choice:nth-child(3){
    background-color: blue;
    color: white;
}
.choice:nth-child(4){
    background-color: orange;
    color: white;
}

.choice:nth-child(5){
    background-color: violet;
}
/* ------------------------------------------------------- */
#dimond img{
    width: 30px;
    height: 30px;
}
/* ---------------------------------------------------- */
.missing {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
    width: 90%;
    min-height: 40vh;
    height: fit-content;
    border: 2px;
    margin: 10% 0% 10% 0%;
}

#missing input {
    width: 20px;
    margin: 0%;
    border: 1px solid blue;
    border-radius: 10px;
    font-size: inherit;
}

.missing button {
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    margin: 3px;
}    

#start {
    padding: 10px;
    background-color: orange;
    /* color: white; */
}
#done {
    padding: 12px;
    background-color: orangered;
    /* color: white; */
}

.missed {
    width: 100%;
    font-size: 2rem;
}

.mischecker {
    border: 1px;
    color: red;
}

.missing img {
    width: 30px;
    height: 30px;
}

 /* |\_/|
    |o o|
    |\_/|___________
    |   DOGGY      |\
    |              | \
    | | |------| | |  \
    | | \      \ | |
    |_|\_/      \|_/ 
*/



/* ------------------------------------------------------ */

#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    flex-wrap: wrap;
    width: 100%;
}

#buttons button {
    padding: 5%;
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 1.5rem;
}
